~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            simple/azure   | ${project_name}             
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  
~
~ To access the virtual machine, use the following info 
~ to connect to it using SSH.
~
~ Public IP address: ${vm_public_ip}
~ Admin useranme: ${admin_username}
~ Admin password ${admin_password}
~ 
~ To connect using SSH, simple issue the following command
~
~ ssh ${admin_username}@${vm_public_ip}
~
~
~ When you are done with this environment, destroy it.
~
~ terraform destroy -auto-approve
~
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  